<div id="giscus_thread"></div>
<script src="https://giscus.app/client.js"
        data-repo="dmitrywashere/dmitrywashere.github.io"
        data-repo-id="R_kgDOPK-x5g"
        data-category="Blog Post"
        data-category-id="DIC_kwDOPK-x5s4CxX0F"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
