<div id="giscus_container"></div>
<script src="https://giscus.app/client.js"
        data-repo="dmitrywashere/dmitrywashere.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkzNTk5OTYyMTM="
        data-category="General"
        data-category-id="DIC_kwDOFuU7n84CfLxw"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
